<%= javascript_include_tag 'dashboard' %>


<table id='events_table'>
	<thead>
		<th>
			Logged in at
		</th>
		<th>
			Logged out at
		</th>
		<th>
			Last Updated
		</th>
		<th>
			Actions
		</th>
	</thead>
	<tbody>

	</tbody>
</table>




<button id='start_btn' onclick='start_event()'>start</button>
<button id='stop_btn' data-eventid='' onclick='stop_event()'>stop</button>