<%= javascript_include_tag 'dashboard' %>


<table id='events_table'>
	<thead>
		<th>
			Logged in at
		</th>
		<th>
			Logged out at
		</th>
		<th>
			Last Updated
		</th>
	</thead>
	<tbody>

	</tbody>
</table>




<button onclick='start_event()'>start</button>
<button onclick='stop_event()'>stop</button>
<button onclick='delete_event()'>delete</button>