<%= javascript_include_tag 'dashboard' %>
<%= stylesheet_link_tag 'dashboard' %>

<button id='start_btn' onclick='start_event()'>Start Log</button>
<button id='stop_btn' data-eventid='' onclick='stop_event()'>Stop Log</button>

<table id='events_table'>
	<thead>
		<th>
			Logged in at 
		</th>
		<th>
			Logged out at
		</th>
		<th>
			Last Updated
		</th>
		<th>
			Actions
		</th>
	</thead>
	<tbody>

	</tbody>
</table>



